/* Block: Products Container */
.products {
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: hidden;
  padding-top: 100px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

/* Element: Title */
.products__title {
  margin-bottom: 0;
}

.products-skeleton__title {
  margin-top: 16px;
  margin-bottom: 60px;
}

/* Element: Type Select */
.products__type-select {
  max-width: 200px;
  width: 100%;
}

/* Element: Top Controls */
.products__top-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  justify-content: space-between;
}

/* Element: List */
.products__list {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* Scrollbar Styles */
.products__list::-webkit-scrollbar {
  height: 8px;
}

.products__list::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

.products__list::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

/* Firefox Scrollbar */
.products__list {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* Media Queries */
@media (max-width: 1650px) {
  .products {
    max-width: 1200px;
  }
}

@media (max-width: 1450px) {
  .products {
    max-width: 1000px;
  }
}

@media (max-width: 1250px) {
  .products {
    max-width: 800px;
  }
}

@media (max-width: 1200px) {
  .products__list {
    border-bottom: none;
  }
}

@media (max-width: 1000px) {
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .products__list {
    padding-left: 12px;
    padding-right: 12px;
  }

  .products__top-controls {
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 700px) {
  .products {
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
  }

  .products-skeleton__title {
  margin-top: 16px;
  margin-bottom: 50px;
  }

  .products__type-select {
    max-width: 150px;
  }

  .products__top-controls {
    align-items: center;
    margin-bottom: 40px;
  }
}


@media (max-width: 500px) {
  .products-skeleton__title {
  margin-top: 16px;
  margin-bottom: 50px;
  }
}